<ion-content [fullscreen]="true" class="welcomePage-content">
  <div class="container">
    <img src="assets/img/Logo-new.jpg" alt="Logo" class="logo">
    <h2 class="slogan">Basta de que todo se eche a perder <br> ¡No pierdas mas comida!</h2>
    <h2>¡Comencemos! 😊</h2>
    <ion-button expand="full" color="pink" (click)="navigateToLogin()">Entrar</ion-button>
  </div>
  <ion-footer class="footer">
    <ion-toolbar>
      <ion-title> <p>Versión Beta 1.0<br> APP creada por Valeska Muñoz</p></ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
