ion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #080808; 
}

.header-content {
  display: flex;
  width: 100%;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

.login {
  color: #f69dec;
  flex: 1;
  text-align: left;
  margin-left: 10px;
}

.venceya {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 10px;
}

.vence {
  color: #800020; 
}

.ya {
  color: #FFD700; 
}

#container {
  margin-top: 120px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.welcome-section {
  text-align: center;
  margin-bottom: 55px;
}

.welcome-section h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.welcome-section h2 {
  font-size: 1.5em;
  font-weight: normal;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*para modificar/alinear el texto sobre el label de user y pass*/
ion-item {
  width: 100%;
  --min-height: 80px;
}

ion-input::part(native) {
  padding-top: 12px;
}

ion-input[label-placement="floating"]::part(native) {
  padding-top: 16px;
}

/*icono del ojo en la password */
ion-item.password-item {
position: relative;
}

ion-icon.eye-icon {
position: absolute;
right: 30px; 
top: 38%;
transform: translateY(-50%);
cursor: pointer;
font-size: 30px; 
z-index: 10; /* trae el ojo para el frente */
pointer-events: auto; 
}

.custom-button {
  background-color: #f69dec;
  margin-top: 40px;     
  width: 100%;          
  max-width: 150px;    
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  color: #ffffffe2;
  border-radius: 50px; 
  border: none;
  --background: #f69dec; 
  --ion-color-base: #f69dec;
}


/*espacio entre el boton y el texto para registrarse*/
.custom-link {
  margin-top: 20px;
  text-align: center;
  color: #0ca0f5d8;
}

/*registro*/
.custom-link a {
color: #0ca0f5d8;
text-decoration: underline;
}

.custom-link a:hover {
color: #1a73e8;
text-decoration: none;
}
/*registro*/