<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/perfil">Mi Perfil</ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <h2 class="miLista">Mi lista</h2>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="home-content">
    <div class="container">
      <h3>Hola😎, {{ nombreUsuario }}!</h3>
      <h5>👉Aquí podras agregar los alimentos que tienes en tu despensa.
        <br>
        👉Puedes crear nuevos y eliminarlos cuando lo desees.
        <br>
        👉Recordatorios de caducidad [Proximamente] 
      </h5>
      
      <div class="producto" *ngFor="let alimento of alimentos; let i = index">
        <ion-item>
          <ion-label position="stacked">Marca</ion-label>
          <ion-input [(ngModel)]="alimento.marca" placeholder="Marca"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Producto</ion-label>
          <ion-input [(ngModel)]="alimento.producto" placeholder="Producto"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Fecha de Caducidad</ion-label>
          <ion-datetime class="dateTime" displayFormat="DD MMM YYYY" [(ngModel)]="alimento.fechaCaducidad" placeholder="Selecciona fecha"></ion-datetime>
        </ion-item>
      </div>

      <ion-button class="buttonGuardar" color="success" (click)="guardarAlimentos()">Guardar</ion-button>
      <ion-button class="buttonEliminar" color="danger">Eliminar</ion-button>

      <div *ngIf="alimentosGuardados.length > 0" class="alimentosGuardados">
        <h2>Alimentos Guardados</h2>
        <ion-list>
          <ion-item *ngFor="let alimento of alimentosGuardados">
            <ion-label>
              <h2>{{ alimento.marca }}</h2>
              <p>{{ alimento.producto }}</p>
              <p>Fecha de Caducidad: {{ alimento.fechaCaducidad | date }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</div>
