ion-header {
  background-color: #080808; 
  color: #f69dec; 
}

ion-toolbar {
  background-color: #080808; 
  color: #f69dec; 
}


h2 {
  font-size: 1,5em;
  font-weight: bold;
  margin: 0;
  color: #000000; 
}


.miLista {
  flex: 1;
  text-align: left;
  margin-left: 10px;
}


.home-content {
  .container {
    padding: 16px;
  }

  h3 {
    text-align: center;
    margin-bottom: 6px;
    margin-top: 10px;
    color: #000000; 
  }

  h5 {
    font-size: 15px;
    color: #000000; 
  }

  .buttonGuardar {
    width: 80%;          
    max-width: 100px;
    margin-left: 85px;
  }

  .buttonEliminar {
    width: 80%;          
    max-width: 100px;
    margin-left: 20px;
  }

  .producto {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #000000; 
  }

  ion-item {
    margin-bottom: 10px;
    --background: #ffffff; 
    color: #000000; 
  }

  .alimentosGuardados {
    margin-top: 20px;
    color: #000000; 
  }

  .alimentosGuardados h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  .dateTime {
    width: 100%;
    max-width: 300px; 
    font-size: 12px; 
  }
}

/* para el menú */
ion-menu {
  --background: #080808; 
  color: #000000; 
}

ion-menu ion-header {
  --background: #080808; 
  color: #000000;
}

ion-menu ion-title {
  color: #f69dec; 
}

ion-menu ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 20px;
  --padding-bottom: 20px;
  color: #f69dec; 
}

ion-menu .ion-padding {
  color: #f69dec; 
}

ion-menu-button {
  color: #000000; 
}

ion-label {
  color: #000000; 
}

ion-input {
  color: #000000; 
}
