<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/perfil">Mi Perfil</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <h2 class="miLista">Mi lista</h2>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="home-content">
    <div class="container">
      <h3>Hola😎, {{ nombreUsuario }}!</h3>
      <h5>👉Aquí podrás ver y agregar productos en tu despensa.
        <br>
        👉Puedes agregar productos y eliminarlos cuando lo desees.
        <br>
      </h5>

      <ion-button (click)="addProduct()">Agregar Producto</ion-button>

      <div *ngIf="products.length > 0" class="productosGuardados">
        <h2>Productos Guardados</h2>
        <ion-list>
          <ion-item *ngFor="let product of products">
            <ion-label>
              <h2>{{ product.marca }}</h2>
              <p>Producto: {{ product.producto }}</p>
              <p>Código de Barras: {{ product.codigo_barras }}</p>
              <p>Categoría: {{ product.categoria }}</p>
            </ion-label>
            <ion-button color="danger" (click)="deleteProduct(product.id)">Eliminar</ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</div>
