ion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px; 
    background-color: #000000; 
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
  }
  
  .register {
    color: #f69dec;
    flex: 1;
    text-align: left;
    margin-left: 10px; 
  }
  
  .venceya {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 10px; 
  }
  
  .vence {
    color: #800020;
  }
  
  .ya {
    color: #FFD700;
  }
  
  #container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .welcome-section {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .welcome-section h1 {
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .register-section {
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  
  ion-list {
    width: 100%;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  ion-label {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .custom-button {
    background-color: #f69dec;
    margin-top: 20px;      
    width: 100%;          
    max-width: 150px;     
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #ffffffe2;        
    border-radius: 50px;      
    border: none;              
    --background: #f69dec;   
    --ion-color-base: #f69dec; 
  }
  
  .custom-link {
    margin-top: 20px;
    text-align: center;
  }
  
  /* para modificar/alinear el texto*/
ion-item {
  width: 100%;
  --min-height: 60px;
}

ion-input::part(native) {
  padding-top: 10px;
}

ion-input[label-placement="stacked"]::part(native) {
  padding-top: 10px;
}

/* estilos adicionales para el icono del ojo */
ion-item.password-item {
  position: relative;
}

ion-icon.eye-icon {
  position: absolute;
  right: 16px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px; 
  z-index: 10; 
  pointer-events: auto;
}